<!--  /main desktop/  -->
<main class="pag_sem_cotacoes">
    <!-- pagina de cadastro de usuario -->
    <section class="secao-cadastro rec-senha">
        <h2 class="titulo-cadastro">Redefinição de Senha</h2>

        <a asp-controller="Noticias" asp-action="Index">
            <button class="cadastro-close-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#141414" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </a>

        <h3 class="subtitulo-cadastro">Insira o Email Cadastrado</h3>

        <form class="form-cadastro" action="enviar.function" method="post">
            <label class="label-cadastro" for="email">Email:</label>
            <input class="input-cadastro" type="email" id="email" name="email" placeholder="Ex: usuario@email.com">
            
            <a asp-controller="Login" asp-action="EscolherMetodo">
                <input class="submit-cadastro" type="submit" value="Ok">
            </a>
        </form>
    </section>
</main>